body {
    padding: 10px;
}


tr:nth-child(even) {
    background-color: #dddddd;
}

td,th {
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
    border: 1px solid black;
}

table {
    table-layout: auto;
    width: 500px;
    border-collapse: collapse;
    border: 1px solid black;
}

.user_padding {
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
    border: 1px solid black;
    padding-left: 5px;
    padding-right: 5px;
}

.imgbox {
    width: 300px;
    height: 300px;
    border: 1px solid black;
}

.image_listing {
    width: 94%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 9px;
    margin-bottom: 9px;
    display: block;
}

a:link {
    color: #2c3632;

}

a:visited {
    color: #2c3632;
}


.wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    padding-top: 10px;
    column-gap: 30px;
    row-gap: 30px;
}

.wrapper > div {
    text-align: center;
}

.wrapper > div:nth-child(odd) {
    text-align: center;
}

.wrapper_listing {
    display: grid;
    grid-template-columns: 50% 30%;
    column-gap: 30px;
    padding-top: 30px;

}

.wrapper_comments {
    display: grid;
    grid-template-columns: 60%;
    justify-content: center;
}
.wrapper_comments_row {
    display: grid;
    grid-template-columns: 50% 50%;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: #f0f1f4;
    border: 1px solid #f0f1f4;
}

.wrapper_comments > div:nth-child(even) {
    background-color: #d3d4d6;
}

.description_title {
    text-align: center;
}

.listing_description {
    text-align: center;
    display: grid;
    grid-template-columns: 60%;
    justify-content: center;
}

.listing_description > div {
    color: #2c3632;
    background-color: #f0f1f4;
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: left;
    padding-left: 15px;
    border: 1px solid #899593;
}