{% extends "auctions/layout.html" %}

{% block body %}
<div class="alert alert-danger" role="alert" style="margin: auto; width: 100%;">
    <h4 style="margin: auto; text-align:center;">This listing has ended!</h4>
</div>
<div>
    {% if listing.imageURL %}
    <br>
    <img src="{{ listing.imageURL }}"> 
    <br><br>
    {% endif %}
    <b>TITLE: </b> {{ listing.title }} <br>
    <b>Sold for: </b> {{ listing.current_bid }} <br>
    <b>Sold by: </b> {{ listing.seller }} <br>
    <b>Sold to: </b> {{ listing.buyer }} <br>
</div>
<br>
<div>
    <h5><b>comments:</b></h5>
    <table>
        <tr>
          <th>Comment</th>
          <th>User</th>
        </tr>
        {% for comment in comments %}
        <tr>
            <td> {{ comment }} </td>
            <td> {{ comment.user }}</td>
        </tr>
        {% endfor %}
    </table>
</div>
{% endblock %}
