{% extends "auctions/layout.html" %}

{% block body %}
<div class="alert alert-danger" role="alert" style="margin: auto; width: 100%;">
    <h4 style="margin: auto; text-align:center;">This listing has ended!</h4>
</div>
<div>
    {% if listing.imageURL %}
    <br>
    <img src="{{ listing.imageURL }}"> 
    <br><br>
    {% endif %}
    <b>TITLE: </b> {{ listing.title }} <br>
    <b>Sold for: </b> {{ listing.current_bid }} <br>
    <b>Sold by: </b> {{ listing.seller }} <br>
    <b>Sold to: </b> {{ listing.buyer }} <br>
</div>
{% endblock %}