{% extends "auctions/layout.html" %}

{% block body %}
    <h2>Active Listings</h2>

    
    {% for listing in listings %}
        <li><a href="{% url 'listing' listing.id %}"> {{ listing.title }} </a></li>
        <ul>
            <li>description:: {{ listing.description }}</li>
            <li>seller: {{ listing.seller }}</li>
            <li>current bid: {{ listing.current_bid }}</li>
            <li>category: {{ listing.category }}</li>
            <li><img src="{{ listing.imageURL }}"</li>
            
        </ul>
        
    {% endfor %}
{% endblock %}