{% extends "auctions/layout.html" %}

{% block body %}
    <h1>listing</h1>
        <li><b>Title: </b>{{ listing.title }}</li>
        <li><b>Current Bid: </b>{{ listing.current_bid }}</li>

        <li><b>owner of this item is: </b>{{ listing.seller }}</li>
        <br>
        <img src="{{ listing.imageURL }}">
        <br>
        {% if user.is_authenticated %}
            {% if listing.seller == user %}
            <form action="{% url 'listing' listing.id %}" method="POST">
                {% csrf_token %}
                <button name="end_listing" type="submit">cancel listing</button><br>
            </form>
            {% endif %}
            Bid for this item!
            Bid higher than: {{ listing.current_bid }}
            {% if is_post %}
                {% if is_bid_higher %}
                    <div class="alert alert-success" role="alert" style="width: 90%;">
                        Your bid was accepted!
                    </div>
                {% else %}
                    <div class="alert alert-danger" role="alert" style="width: 90%;">
                        Bid was not accepted!
                    </div>
                {% endif %}
            {% endif %}
            <form action="{% url 'listing' listing.id %}" method="POST">
                {% csrf_token %}
                {% for field in bid_form %}
                    {{ field }}
                {% endfor %}
                <button type="submit">BID</button>
            </form>
            <br>
            {% if on_watchlist %}
                <form action="{% url 'listing' listing.id %}" method="POST">
                    {% csrf_token %}
                    Remove from Watchlist
                    <input name="watchlist" type="hidden">
                    <button style="color: red;">Remove from Watchlist</button>
                </form>
            {% else %}
                <form action="{% url 'listing' listing.id %}" method="POST">
                    {% csrf_token %}
                    Add Item to Watchlist
                    <input name="watchlist" type="hidden">
                    <button>Add To Watchlist</button>
                </form>
            {% endif %}
            <br>
        {% endif %}

        {% if comments %}
            <h4>Comments:</h4>
            <table>
                <tr>
                    <th>Comment</th>
                    <th>User</th>
                </tr>
                {% for comment in comments %}
                <tr>
                    <td> {{ comment }} </td>
                    <td class="user_padding"> {{ comment.user }}</td>
                </tr>
                {% endfor %}
            </table>
        {% endif %}
        
        {% if user.is_authenticated %}
            <br>
            <h4>Add a Comment</h4>
            <form action="{% url 'listing' listing.id %}" method="POST">
                {% csrf_token %}
                {% for field in comment_form %}
                        {{ field }}
                {% endfor %}
                <br><button type="submit">Add a Comment</button>
            </form>
        {% else %}
            <br>
            <div>
                Sign in to add a comment.
            </div>
        {% endif %}

{% endblock %}
