{% extends "auctions/layout.html" %}

{% block body %}
    <h1>test</h1>
        <li>{{ test.title }}</li>
        <li>{{ test.current_bid }}</li>
        <br>
        owner of this item is: {{ test.seller }}
        <br>
        <img src="{{ test.imageURL }}">
        {% if user.is_authenticated %}
            Bid for this item!
            Bid higher than: {{ test.current_bid }}
            <form action="{% url 'listing' test.id %}" method="POST">
                {% csrf_token %}
                <input name="bid" type="number" step="0.01">
                <button>BID</button>
            </form>
            <br>
            {% if on_watchlist %}
                <form action="{% url 'listing' test.id %}" method="POST">
                    {% csrf_token %}
                    Remove from Watchlist
                    <input name="watchlist" type="hidden">
                    <button style="color: red;">Remove from Watchlist</button>
                </form>
            {% else %}
                <form action="{% url 'listing' test.id %}" method="POST">
                    {% csrf_token %}
                    Add Item to Watchlist
                    <input name="watchlist" type="hidden">
                    <button>Add To Watchlist</button>
                </form>
            {% endif %}
        {% endif %}

{% endblock %}